@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --dark: #303b3a;
  --primary: #f73f01;
  --gray: #999999;
  --gray-light: #f4f4f4;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

